
.Aadita1 {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #4A001D;
  border-radius: 50%;
  display: inline-block;
}

.Aadita2 {
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #FF9774;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi1{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #F8A11B;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi2{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #F59172;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi3{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #ED008C;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi4{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #3AB54B;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi5{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #BE202F;
  border-radius: 50%;
  display: inline-block;
}
.Anthevasi6{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #3C2517;
  border-radius: 50%;
  display: inline-block;
}


/*Suhrith Foundation start*/

.Suhrith1{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #F25A29;
  border-radius: 50%;
  display: inline-block;
}

.Suhrith2{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #020202;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith3{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #401A0F;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith4{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #955B23;
  border-radius: 50%;
  display: inline-block;
}

.Suhrith5{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #3B8B32;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith6{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #532973;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith7{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #FCC314;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith8{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #010F32;
  border-radius: 50%;
  display: inline-block;
}
.Suhrith9{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #0480B8;
  border-radius: 50%;
  display: inline-block;
}



/*Suhrith Foundation End*/

/*Aalma Lebal start*/
.Aalma1{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #3A9A50;
  border-radius: 50%;
  display: inline-block;
}
.Aalma2{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #35363A;
  border-radius: 50%;
  display: inline-block;
}
.Aalma3{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #B99A75;
  border-radius: 50%;
  display: inline-block;
}
.Aalma4{
  height: 25px;
  width: 25px;
  margin-top: 10px;
  background-color: #674644;
  border-radius: 50%;
  display: inline-block;
}

/*Aalma Lebal End*/